.header {
    background-color: #1bbc9b;
    color: #ecfdf9;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.profile-pic
{
    border-radius: 50%;
    height: 170px;
    box-shadow: #075848 2px 5px 5px;
    align-self: center;
}
.site-header-content {
    margin: 10px;
}
.link {
    color: #ecfdf9;
}
body{
    margin: 0;
}